<div class="sidenav">
    <nav class="brand">
        <a href="/">
            <img src="images/koprivald.png" alt="Logo Kopřivald"/>
        </a>
    </nav>
    <% sidenavLinks.forEach((link, i) => { %>
    <nav class="link" style="--order: <%- i + 1 %>">
        <a href="<%-link.target%>"><%-link.caption%></a>
    </nav>
    <% }) %>
</div>
