<div class="sidenav">
    <nav class="brand">
        <a href="/">
            <img src="images/koprivald.png" alt="Logo Kopřivald"/>
        </a>
    </nav>
    <nav class="link" style="--order: 1">
        <a href="#historie">Historie</a>
    </nav>
    <nav class="link" style="--order: 2">
        <a href="#projekty">Projekty</a>
    </nav>
    <nav class="link" style="--order: 3">
        <a href="#o-nas">O nás</a>
    </nav>
</div>
