<div class="image-roll">
    <% for(let i = 0; i < 15; i++) { %>
    <div class="stack">
        <img class="image" src="/images/koprivald/ilustrace/5b.png" alt="5b" width="800" height="800">
        <img class="image" src="/images/koprivald/ilustrace/5a.png" alt="5a" width="592" height="676">
    </div>
    <% } %>
</div>
