<div class="project-authors">
    <div class="author" style="--pic: url('/images/koprivald/author_vz.png')">
        <div class="bio">
            <div class="name">Veronika<br/>Zálešáková</div>
            <div class="role">Zakladatelka projektu</div>
            <p>
                Experiment je alfou a omegou. Pracuje s hlínou
                v živém dialogu a citlivě vyzdvihuje její
                přirozené vlastnosti.
            </p>
            <div class="contact-links">
                <a href="mailto:veronika.zalesakova.v@seznam.cz">veronika.zalesakova.v@seznam.cz</a>
            </div>
        </div>
        <div class="picture" title="Veronika držící tvar č. 32021"></div>
    </div>
    <div class="author" style="--pic: url('/images/koprivald/author_ml.png')">
        <div class="bio">
            <div class="name">Manka<br/>Lustigová</div>
            <div class="role">Zakladatelka projektu</div>
            <p>
                Hbitě střídá pero s lopatou, vstupenky do
                intelektuálního a manuálního světa. Zatím
                ještě neví, která z nich bude jejím žezlem.
            </p>
            <div class="contact-links">
                <a href="mailto:manka.lustigova@gmail.com">manka.lustigova@gmail.com</a>
            </div>
        </div>
        <div class="picture" title="Manka tvořící tvar č. 32021"></div>
    </div>
</div>
