<div class="project-authors">
    <div class="bio p1">
        <div class="author">Veronika<br/>Zálešáková</div>
        <p>
            Experiment je alfou a omegou. Pracuje s hlínou
            v živém dialogu a citlivě vyzdvihuje její
            přirozené vlastnosti.
        </p>
    </div>
    <img src="/images/koprivald/author_1.png" class="img p1" alt="Veronika držící tvar č. 32021" width="659" height="746">

    <div class="bio p2">
        <div class="author">Manka<br/>Lustigová</div>
        <p>
            Hbitě střídá pero s lopatou, vstupenky do
            intelektuálního a manuálního světa. Zatím
            ještě neví, který z nich bude jejím žezlem.
        </p>
    </div>
    <img src="/images/koprivald/author_2.png" alt="Manka tvořící tvar č. 32021" class="img p2" width="824" height="643">
</div>
