<div class="project-authors">
    <div class="bio p1">
        <div class="author">Veronika<br/>Zálešáková</div>
        <p>
            Experiment je alfou a omegou. Pracuje s hlínou
            v živém dialogu a citlivě vyzdvihuje její
            přirozené vlastnosti.
        </p>
    </div>
    <img src="" class="img p1" width="315" height="352">

    <div class="bio p2">
        <div class="author">Manka<br/>Lustigová</div>
        <p>
            Hbitě střídá pero s lopatou, vstupenky do
            intelektuálního a manuálního světa. Zatím
            ještě neví, který z nich bude jejím žezlem.
        </p>
    </div>
    <img src="" alt="" class="img p2" width="396" height="305">
</div>
