<div class="contacts">
    <div class="person">
        <div class="name">Veronika<br/>Zálešáková</div>
        <div class="role">Zakladatelka projektu</div>

        <div class="links">
            <a href="mailto:veronika.zalesakova.v@seznam.cz">veronika.zalesakova.v@seznam.cz</a>
            <a href="https://www.instagram.com">Instagram</a>
        </div>
    </div>
    <div class="person">
        <div class="name">Manka<br/>Lustigová</div>
        <div class="role">Zakladatelka projektu</div>

        <div class="links">
            <a href="mailto:manka.lustigova@gmail.com">manka.lustigova@gmail.com</a>
            <a href="https://www.instagram.com">Instagram</a>
        </div>
    </div>
</div>
