<div class="project-block" style="--img-preview: url('/images/koprivald/foto/koprivald__23.jpg')">
    <div class="preview" title="Ukázka produktů projektu Tvar č. 32021"></div>
    <div class="header">
        <h2>Tvar č. 32021</h2>
    </div>
    <div class="intro">
        <p>
            Bakalářské práce Veroniky Zálešákové a Manky Lustigové začaly
            vznikat souběžně při praxi v manufaktuře Schlaggenwald.
            Atmosféra jejich vzniku byla zahlcená cigaretovým dýmem a
            obavami nad osudem firmy. Z pýchy její dlouholeté tradice se
            pomalu stávalo břemeno, které těžklo rouškami a pozastaveným
            trhem.
        </p>
        <p>
            Proto se autorky rozhodly, že jí chtějí odlehčit a vnést do současné
            porcelánové výroby svěží vzduch.
        </p>
        <p>
            <a href="/t-32021" class="btn btn-inverse inv-hig">Více o projektu</a>
        </p>
    </div>
</div>


