extends layout/singleColumnLayout.pug

block content
    h1 Aboot me
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta, dolore enim est ex, excepturi magni molestias nihil officia porro reprehenderit saepe sint voluptatibus. Assumenda dolorem eligendi ipsum nostrum saepe.
    p Beatae, consequuntur dolorem nam perferendis porro quasi, quibusdam repellat similique sunt tempora tempore veritatis. Adipisci at cumque exercitationem molestiae neque nihil sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, culpa cum eligendi, esse illum in iste laborum necessitatibus nemo obcaecati quae quibusdam repellat sed. Enim fugiat ipsum odio voluptates. Quidem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur dolorum enim labore minima nulla quasi reiciendis sit. Assumenda at delectus doloremque dolores, fuga inventore laboriosam nam porro suscipit tempora.
