.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;

  .person {
    display: flex;
    flex-direction: column;

    .name {
      font-size: 2em;
      font-weight: 800;
      white-space: break-spaces;
    }
    .role {
      color: var(--primary);
    }
  }

  .links {
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    a {
      color: var(--neutral-0);
    }
  }
}
