.project-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-auto-flow: dense;
  gap: 0.5em;

  background-color: var(--secondary-900);
  text-align: left;

  h2 {
    font-size: 2.2rem;
    margin: 0.5em 0;
  }

  .preview {
    background: var(--img-preview);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  :is(.header, .intro) {
    text-align: center;
  }

  @include sm() {
    > * {
      grid-column: 1;
    }
    > .preview {
      grid-row: 1 / span 2;
      width: 100%;
      height: auto;
      filter: contrast(0.4) brightness(1.4);
      z-index: 1;
    }
    > .header {
      grid-row: 1;
      z-index: 2;
      padding: 2em 2em 0;
    }
    > .intro {
      grid-row: 2;
      z-index: 2;
      padding: 0 2em 2em;
    }
  }

  @include md() {
    grid-template-columns: 33% 1fr;

    > .header {
      margin-top: 4px;
      grid-column: 2;
      grid-row: 1;
    }

    > .preview {
      grid-row: span 2;
      background-position: center;
    }
  }

  > :is(.header, .intro) {
    padding-inline-end: calc(2em + var(--h-spacing) + 1em);
  }
}
