<footer>
    <div class="brand">
        <img src="/images/koprivald-logo.svg" alt="Logo Kopřivald" class="logo" width="1518" height="1611"/>
        <a href="mailto:lobbyzamanufaktury@seznam.cz">lobbyzamanufaktury@seznam.cz</a>
    </div>

    <div class="copyrigt">
        <div class="party">Ilustrace © Jana Jarošová</div>
        <div class="separator">/</div>
        <div class="party">Design © Kristýna Kubašta</div>
        <div class="separator">/</div>
        <div class="party">
            <a href="https://github.com/Thoronir42" target="_blank">Web © Štěpán Ševčík</a>
        </div>
    </div>
</footer>
