<footer>
    <div class="brand">
        <img src="/images/koprivald-logo.svg" alt="Logo Kopřivald" class="logo" width="285" height="344"/>
        <a href="mailto:lobbyzamanufaktury@seznam.cz">lobbyzamanufaktury@seznam.cz</a>
    </div>

    <div class="copyrigt">
        <div class="party">Ilustrace © Jana Jarošová</div>
        <div class="party">Web design @ Kristýna Kubašta</div>
    </div>
</footer>
