.navbar
    nav.brand
        a(href='/')
            img(src='https://i.picsum.photos/id/935/200/120.jpg?hmac=1-zuHEk1oBudLG6an2jm-PzDfEEpBjzJAxmYSH71Dto')
    nav.link
        a(href="/about-us") Aboot us
