<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=500, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="author" content="Štěpán Ševčík <stepan.sevcik419@gmail.com>">

    <link rel="stylesheet" href="/css/main.css">

    <title>Kopřivald</title>
</head>
<body class="column-layout">
<%- include('../parts/navbar'); -%>
<% bodyComponents && bodyComponents.forEach((component) => { %>
    <%- include('../'+component); -%>
<% }) %>

<main>
