<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="author" content="Štěpán Ševčík <stepan.sevcik419@gmail.com>">

    <%  styleSheets.forEach((styleSheet) => { %>
    <link rel="stylesheet" href="<%- styleSheet.href %>">
    <% }) %>


    <title>Kopřivald</title>
</head>
<body class="column-layout">
<%- include('../layout/navbar'); -%>
<% bodyComponents && bodyComponents.forEach((component) => { %>
    <%- include('../'+component); -%>
<% }) %>

<main>
