@import "../mixins/breakpoints";

$scrollbarWidth: 15px;

.column-layout {
  --h-spacing: 0.5em;

  @include md() {
    --h-spacing: 2.5em;
  }

  main > p {
    text-align: center;
    margin-left: 4em;
    margin-right: 4em;
    line-height: 1.5em;
  }

  h1 {
    margin-block-start: 2em;
  }
}

.content-block {

  max-width: 960px;
  margin: 0 auto;

  &.middle {
    width: 720px;
    max-width: calc(100vw - 2 * var(--h-spacing) - #{$scrollbarWidth});

    text-align: center;
  }

  &:not(:first-child) {
    margin-block-start: 4rem;
  }
}
