@import "../mixins/breakpoints";

.column-layout {
  --h-spacing: 0.5em;

  @include md() {
    --h-spacing: 2.5em;
  }

  .container {
    width: 720px;
    max-width: calc(100vw - 2* var(--h-spacing));
    margin: 0 auto 2em;

    text-align: center;
  }

  main > p {
    text-align: center;
    margin-left: 4em;
    margin-right: 4em;
    line-height: 1.5em;
  }

  h1 {
    margin-block-start: 2em;
  }

  :is(.project-preview, .contacts, .timeline) {
    width: 100%;
  }
  .contacts {
    margin-top: 5em;
  }
}
