html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-size: 18px;
}


img {
    &:not(.logo) {
        background: var(--secondary-900);
    }
}
