footer {
  padding: 2em var(--h-spacing);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;

  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    color: var(--primary);
    font-weight: bold;

    a {
      color: inherit;
    }

    @include sm() {
      font-size: 0.8em;
    }
  }

  .logo {
    background: unset;
    height: 4em;
    width: auto;
  }



  .copyrigt {
    font-size: 0.75em;
    display: flex;

    font-weight: bold;

    .party {
      text-align: center;
    }
    .separator {
      margin: 0 0.5em
    }
  }
}
