.hamburger {
  .menu-toggle {
    width: 2.5em;
    height: 2.5em;
    padding: 0.325em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: var(--neutral-1000);
    border: none;

    i {
      background: var(--neutral);
      block-size: 2px;
      inline-size: 100%;

      transition: all 0.25s ease;
    }
  }

  .menu {
    position: absolute;
    top: 2.6em;
    left: 1em;

    inline-size: 200px;

    background: var(--neutral-1000);
    box-shadow: 1px 1px 4px 2px var(--neutral-700);

    padding: 0.5em 1em;

    transition: opacity 0.25s ease;

    nav a {
      display: block;
      padding: 0.25em 0;

      text-decoration: none;
      font-weight: bold;

      color: var(--neutral-0);
    }
  }

  &:focus-within {
    .menu-toggle {
      i {
        background: var(--primary);

        &:first-child {
          transform: translateY(0.5em) rotate(.125turn);
          transform-origin: 50% 50%;
        }
        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: translateY(-0.5em) rotate(-.125turn);
          transform-origin: 50% 50%;
        }
      }
    }
  }

  &:not(:focus-within) {
    .menu {
      opacity: 0;
      pointer-events: none;
    }
  }
}
