.image-gallery {
  block-size: 70vw;
  max-block-size: 55vh;
  display: grid;
  place-content: stretch;

  @media (max-height: 400px) {
    max-block-size: 80vh;
  }

  > * {
    grid-column: 1; grid-row: 1;
  }

  .items {
    flex: 1;

    display: flex;
    gap: 1em;
    overflow-x: scroll;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
    }

    overscroll-behavior-x: contain;
    scroll-snap-type: inline mandatory;
  }

  .item {
    flex: 1 0 100%;
    scroll-snap-align: start;

    background: var(--img);
    background-position: center;
    background-size: cover;
  }

  .positioner {
    z-index: 1;
    place-self: end center;
    margin: 0.25em;

    display: flex;
    gap: 0.1em;

    .peg {
      padding: 0.25em;

      --color: var(--neutral-1000);
      &.active {
        --color: var(--secondary);
      }

      .body {
        width: 0.8em;
        height: 0.8em;
        border-radius: 50%;
        background: var(--color);

        transition: background 0.1s;
      }

      &:not(.active) {
        .body {
          border: 1px solid var(--secondary-700);
        }
      }

    }
  }
}
