.sidenav {
  z-index: 100;
  position: fixed;
  top: calc(35vh - 10em);
  right: var(--h-spacing);

  font-size: 0.8rem;
  writing-mode: tb;

  display: flex;
  gap: 0.25em;

  nav {
    transition: all 0.3s;
    transition-delay: calc(var(--order, 0) * 60ms);
  }

  .link {
    --bg-color: var(--neutral-1000);
    --fg-color: var(--neutral-0);

    display: grid;
    place-content: center;

    border: 1px solid var(--fg-color);
    border-radius: 1em;
    background: var(--bg-color);

    a {
      display: block;
      padding: 1.25em 0.5em;

      color: var(--fg-color);
      text-decoration: none;
      font-weight: bold;

      transition: inherit;
    }

    &.active {
      --bg-color: var(--neutral-0);
      --fg-color: var(--neutral-1000);
    }
  }

  .brand {
    img {
      width: 2.8em;
    }
  }
}

body:not(.sidenav-visible) {
  .sidenav {
    pointer-events: none;
    nav {
      opacity: 0;
    }
  }
}
