.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}

.detail-prompt {
  &.active {
    display: none;
  }

  &:not(.active) {
    ~ .detail-content {
      display: none;
    }
  }
}
