.timeline {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;

  .legend {
    display: flex;
    gap: 0.25em 1.5em;

    @include sm() {
      flex-direction: column;
    }

    .item {
      display: flex;
      align-items: center;

      &:before {
        display: block; content: '';
        margin-right: 0.75em;

        width: 2.5em;
        height: 0.3em;
        border-radius: 0.5em;
        background: var(--color);
      }
    }
  }

  .graph {
    margin-top: 4em;

    position: relative;

    place-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    overflow: hidden;

    > .year {
      font-size: 2em;
      font-weight: bold;
    }

    .image-content {
      --axis-stretch: -1rem;
      display: grid;

      inline-size: 65%;

      > * {
        grid-column: 1; grid-row: 1;
      }
      > img {
        background-color: unset;
        width: 100%;
        height: auto;
      }
      .axis {
        place-self: stretch center;
        margin-block-start: var(--axis-stretch);
        margin-block-end: var(--axis-stretch);
        border-left: 4px dashed var(--neutral-300);
        border-right: 7px solid transparent;

        @include sm() {
          border-left-width: 2px;
        }
      }
    }

    .image-roll {
      --size: 3em;

      position: absolute;
      align-self: center;
      top: 24.5%;
      z-index: -1;

      width: 100vw;
      height: var(--size);

      overflow: hidden;

      @include md() {
        --size: 5.5em;
      }

      .stack {
        display: inline-grid;
        height: 100%;

        &:not(:first-child) {
          margin-inline-start: calc(-0.25 * var(--size));
        }
      }

      .image {
        grid-row: 1;
        grid-column: 1;
        background: none;

        &:first-child {
          height: var(--size);
          width: auto;
        }
        &:last-child {
          height: calc(var(--size) * 0.4);
          width: auto;
          place-self: end start;
        }
      }
    }
  }

  @import "./timelineMarkers";
}

:is(.history-tooltip-content, .timeline .marker) {
  .image {
    background: unset;
    height: var(--size, var(--default-img-size));
    width: auto;

    @include md() {
      &[style*="--size-md"] {
        height: var(--size-md);
      }
    }
  }
}

.history-tooltip-content {
  --default-img-size: 8rem;

  padding: 0.75em;

  .caption {
    color: var(--primary);
    font-weight: bold;
  }

  .images {
    margin: 1em 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25em;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  > *:first-child {
    margin-top: 0;
  }

  &.images-blown-out {
    @include md() {
      .images {
        display: none;
      }
    }
  }

  &.wide-tooltip {
    min-width: 80vw;
  }
}
