.timeline {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;

  .legend {
    display: flex;
    gap: 1.5em;

    @include sm() {
      flex-direction: column;
    }

    .item {
      display: flex;
      align-items: center;

      &:before {
        display: block; content: '';
        margin-right: 0.75em;

        width: 2.5em;
        height: 0.3em;
        border-radius: 0.5em;
        background: var(--color);
      }
    }
  }

  .graph {
    place-self: stretch;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    > .year {
      font-size: 2em;
      font-weight: bold;
    }

    .image-content {
      --axis-stretch: -1rem;
      display: grid;

      > * {
        grid-column: 1; grid-row: 1;
      }
      img {
        background-color: unset;
      }
      .axis {
        place-self: stretch center;
        margin-block-start: var(--axis-stretch);
        margin-block-end: var(--axis-stretch);
        border-left: 4px dashed var(--neutral-300);
        border-right: 7px solid transparent;
      }
    }
  }

  .marker {
    position: absolute;
    top: var(--top);

    &[data-placement="right"] {
      left: calc(50% + var(--offset));
    }
    &[data-placement="left"] {
      right: calc(50% + var(--offset));
    }

    &[data-placement="right"] .header:before, &[data-placement="left"] .header:after {
      display: block;
      content: '';
      width: 4em;
      border-bottom: 2px dotted var(--secondary);
    }

    .header {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    .content {
      display: none;
    }
  }
}
