.timeline {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;

  .legend {
    display: flex;
    gap: 1.5em;

    @include sm() {
      flex-direction: column;
    }

    .item {
      display: flex;
      align-items: center;

      &:before {
        display: block; content: '';
        margin-right: 0.75em;

        width: 2.5em;
        height: 0.3em;
        border-radius: 0.5em;
        background: var(--color);
      }
    }
  }

  .graph {
    place-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    > .year {
      font-size: 2em;
      font-weight: bold;
    }

    .image-content {
      --axis-stretch: -1rem;
      display: grid;

      inline-size: 80%;

      > * {
        grid-column: 1; grid-row: 1;
      }
      img {
        background-color: unset;
        width: 100%;
        height: auto;
      }
      .axis {
        place-self: stretch center;
        margin-block-start: var(--axis-stretch);
        margin-block-end: var(--axis-stretch);
        border-left: 4px dashed var(--neutral-300);
        border-right: 7px solid transparent;

        @include sm() {
          border-left-width: 2px;
        }
      }
    }
  }

  .markers {
    position: relative;
  }

  .marker {
    --total-offset: calc(50% + var(--offset));
    position: absolute;
    top: var(--top);

    @include sm() {
      --line-width: 0 !important;
      --total-offset: calc((50% + var(--offset) / 2));
    }

    &[data-placement="right"] {
      left: var(--total-offset);
    }
    &[data-placement="left"] {
      right: var(--total-offset);
    }

    &[data-placement="right"] .header:before, &[data-placement="left"] .header:after {
      display: block;
      content: '';
      width: var(--line-width, 4em);
      border-bottom: 2px dotted var(--secondary);
    }

    .header {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
    .label {
      font-weight: bold;
      padding: 0.25em 0.125em;
      background: rgba(white, 0.75%);
    }

    .content {
      display: none;
    }
  }

  .marker-pictures {
    .header {
      color: var(--primary);
    }
  }
}

.history-tooltip-content {
  padding: 0.75em;

  .caption {
    color: var(--primary);
    font-weight: bold;
  }

  .images {
    margin: 1em 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25em;
  }

  .image {
    height: 8em;
    width: auto;
    background: none;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  > *:first-child {
    margin-top: 0;
  }
}
