<h1 id="historie" data-title="Historie">Kopřivald</h1>
<p>
    Kopřivald je porcelánkou žijící v myšlence. Povstává z prachu, který se válí v koutech
    zavřené slavkovské porcelánky. Její dřívější unikát, nejdelší historie na českém území,
    obrovské know-how a manuální zručnost pracovníků, byl známy pod názvy Haas&amp;Czjzek a Schlaggenwald.
    <br/>
    Chceme být platformou pro diskusi o výrobě porcelánu v Čechách, přidávat komentáře
    k této zanikající pýše, postavit se a hovořit.
</p>
<p class="history-detail-prompt">
    <button class="btn" onclick="toggleHistoryDetail()">Více kopřiv</button>
</p>

<p class="history-detail">
    Jsme tu s otazníky a zvědavou poťouchlostí, která byla iniciována vhledem do fungování manufaktury
    Schlaggenwald při pohledu na odhodlání a zápal zaměstnanců. Co všechno nám manufakturní výroba
    dala a vzala? Jak ovlivnila současné postavení porcelánu? Jaké bychom z něj dnes chtěli mít výrobky a
    jak se chovat k historickému odkazu tvarů? Je materiálem ušlechtilým, nebo již příliš zneužitým?
</p>

<p class="history-detail">Foukáme do skomírajícího plamene.</p>


<h1>Horní slavkov</h1>
<div class="subtitle">časová osa</div>
<p>
    Porcelán, vznešený materiál z Číny. Jedno z posledních tajemství, které si velmoc
    uchovávala před Evropou, odhalené až v 17. století. Historie první umělé hmoty v nejstarší
    české produkci manufaktury Schlaggenwald.
</p>

<div class="timeline">
    <div class="legend-rail">
        <div class="legend">
            <div class="item" style="--color: var(--secondary);">Umělecké vyznění</div>
            <div class="item" style="--color: var(--primary);">Hospodářské úspěchy</div>
        </div>
    </div>
    <div class="graph">
        <span class="year">1792</span>
        <img src="/images/graf-03.jpg" alt="Časová osa" width="345" height="2459">

        <% history.markers.forEach((marker) => { %>
            <%- include('../components/historyMarker', {marker}) -%>
        <% }) %>

        <span class="year">2021</span>
    </div>

</div>
