<p id="historie" data-title="Historie"></p>
<p class="text-primary">
    Kopřivald je porcelánkou žijící v myšlence. Povstává z prachu, který se válí v koutech
    zavřené slavkovské porcelánky. Její dřívější unikát, nejdelší historie na českém území,
    obrovské know-how a manuální zručnost pracovníků, byl známy pod názvy Haas&amp;Czjzek a Schlaggenwald.
    <br/>
    Chceme být platformou pro diskusi o výrobě porcelánu v Čechách, přidávat komentáře
    k této zanikající pýše, postavit se a hovořit.
</p>
<p class="detail-prompt">
    <button class="btn inv-hig primary" onclick="toggleHistoryDetail()">Více kopřiv</button>
</p>

<p class="detail-content text-primary">
    Jsme tu s otazníky a zvědavou poťouchlostí, která byla iniciována vhledem do fungování manufaktury
    Schlaggenwald při pohledu na odhodlání a zápal zaměstnanců. Co všechno nám manufakturní výroba
    dala a vzala? Jak ovlivnila současné postavení porcelánu? Jaké bychom z něj dnes chtěli mít výrobky a
    jak se chovat k historickému odkazu tvarů? Je materiálem ušlechtilým, nebo již příliš zneužitým?
</p>

<p class="detail-content text-primary">Foukáme do skomírajícího plamene.</p>


<h1>Horní Slavkov</h1>
<p>
    „První umělá hmota“ v produkci nejstarší české manufaktury Schlaggenwald.
</p>
<p style="color: var(--neutral)">
    Střípky historie se skrývají pod letopočty.
    <span class="display-hoverable">Zobrazíte je najetím kurzoru.</span>
    <span class="display-non-hoverable">Zobrazíte je klepnutím.</span>
</p>

<div class="timeline">
    <div class="legend-rail">
        <div class="legend">
            <div class="item" style="--color: var(--secondary);">Umělecké vyznění</div>
            <div class="item" style="--color: var(--primary);">Hospodářské úspěchy</div>
        </div>
    </div>
    <div class="graph">
        <div class="image-roll">
            <% for(let i = 0; i < 10; i++) { %>
                <div class="stack">
                    <img class="image" src="/images/koprivald/ilustrace/5b.PNG" alt="5b" width="1187"
                         height="1187">
                    <img class="image" src="/images/koprivald/ilustrace/5a.PNG" alt="5a" width="592"
                         height="676">
                </div>
            <% } %>
        </div>

        <span class="year"><%- timeline.start %></span>
        <div class="image-content">
            <img src="/images/graf.svg" alt="Časová osa" width="420" height="4335">
            <div class="axis"></div>
            <div class="markers">
                <% timeline.markers.forEach((marker) => { %>
                    <%- include('../components/historyMarker', {marker}) -%>
                <% }) %>
            </div>
        </div>

        <span class="year"><%- timeline.end %></span>
    </div>

</div>
