<h1 id="historie">Kopřivald</h1>
<p>
    Kopřivald je porcelánkou žijící v myšlence. Povstává z prachu, který se válí v koutech
    zavřené slavkovské porcelánky. Její dřívější unikát, nejdelší historie na českém území,
    obrovské know-how a manuální zručnost pracovníků, byl známy pod názvy Haas&amp;Czjzek a Schlaggenwald.
    <br/>
    Chceme být platformou pro diskusi o výrobě porcelánu v Čechách, přidávat komentáře
    k této zanikající pýše, postavit se a hovořit.
</p>
<p>
    <a href="#" class="btn">Více kopřiv</a>
</p>

<h1>Horní slavkov</h1>
<div class="subtitle">časová osa</div>
<p>
    Porcelán, vznešený materiál z Číny. Jedno z posledních tajemství, které si velmoc
    uchovávala před Evropou, odhalené až v 17. století. Historie první umělé hmoty v nejstarší
    české produkci manufaktury Schlaggenwald.
</p>

<div class="timeline">
    <div class="legend">
        <div class="item" style="--color: var(--secondary);">Umělecké vyznění</div>
        <div class="item" style="--color: var(--primary);">Hospodářské úspěchy</div>
    </div>
    <div class="graph">
        <span>1793</span>
        <img src="/images/graf-03.jpg" alt="Časová osa" width="345" height="2459">
        <span>2021</span>
    </div>

</div>
