<div class="contacts" id="o-nas">
    <div class="logo">
        <div class="logo-text">Logo</div>
    </div>
    <div class="person">
        <div class="name">Veronika<br/>Zálešáková</div>
        <div class="role">Zakladatelka projektu</div>

        <div class="links">
            <span>Mobil</span>
            <span>Mail</span>
            <span>Instagram</span>
            <span>Facebook</span>
        </div>
    </div>
    <div class="person">
        <div class="name">Manka<br/>Lustigová</div>
        <div class="role">Zakladatelka projektu</div>

        <div class="links">
            <span>Mobil</span>
            <span>Mail</span>
            <span>Instagram</span>
            <span>Facebook</span>
        </div>
    </div>
</div>
