<div class="navbar">
    <div class="nav-group">
        <nav class="link">
            <a href="/#historie">Historie</a>
        </nav>
        <nav class="link">
            <a href="/#o-nas">O nás</a>
        </nav>
    </div>
    <nav class="brand">
        <a href="/"><%= proj.name %></a>
    </nav>

    <div class="nav-group">
        <nav class="link">
            <a href="/#kontakty">Kontakty</a>
        </nav>
        <nav class="link">
            <a href="/#projekty">Tvar č. 32021</a>
        </nav>
    </div>
</div>
