<h1 id="projekty">Tvar č. 32021</h1>

<div class="gallery project-preview">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
</div>

<p>
    <a href="/t-32021" class="btn">Více o projektu</a>
</p>

<%- include('./t-32021/authorsBio') %>
